.Sidenav{
    height: 100vw;
    .nav-container {
            margin-top: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
    
            li {
                width: 100%
            }
        }
}
a {
    text-decoration: none;
    color: black;
    width: 100%;
}


