.Home {
    display: flex;
    justify-content: center;
    text-align: center;
    //min-height: 100vh;
    //background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(36, 36, 36, 0.493);
    background-blend-mode: darken;
    image-rendering: pixelated;
    transition: 'background-image 0.5s ease-in-out';
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}  

